.checkout-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 80px;
}

.checkout-image-container {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.04);

  height: 500px;
}

#checkout-image {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}

#checkout-content {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#checkout-title {
  font-size: 2.3rem;
  padding-bottom: 30px;
}

#checkout-category {
  color: #979797;
  text-transform: uppercase;
}

#checkout-description {
  font-size: 1rem;
}

#checkout-price {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 20px;
}

#checkout-btn-buy {
  background-color: black;
  color: white;
  font-weight: 500;
  padding: 15px 0;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  width: 250px;
  cursor: pointer;
  transition: all .2s;
}

#checkout-btn-buy:hover  {
  transform: translateY(-4px);
}

#checkout-options {
  margin-top: 30px;
}

#checkout-options label {
  font-weight: bold;
}

.checkout-select {
  margin-top: 10px;
  background-color: white;
  border: none;
  padding: 0.5rem 0.5rem;
  min-width: 200px;
  border-radius: 5px;
}
