/** @format */

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-VariableFont_slnt,wght.ttf')
    format('truetype-variations');
  font-weight: 1 999;
}

* {
  box-sizing: border-box;
  font-family: Inter;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body,
html {
  background-color: #f8f8f8;
}

a {
  color: inherit;
}

header {
  color: white;
  background-color: black;
  height: 60px;
  position: sticky;
}

nav {
  margin: 0 auto;
  height: 100%;
  padding: 0 50px;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

#nav-logo span {
  font-weight: bold;
}

nav ul {
  display: flex;
  gap: 50px;
  font-weight: 300;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

nav .selected {
  font-weight: 500;
}

main {
  margin: 0 auto;
  max-width: 1440px;
  padding: 50px 50px;
}

/*Suleiman*/
.sub-menu {
  display: none;
}
.menu1 ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: black;
  /* margin-top: 10px; */
  margin-left: -10px;
}
.menu1 ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
}
.menu1 ul li:hover .sub-menu ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.sub-menu1 {
  display: none;
}
.sub-menu ul li:hover .sub-menu1 {
  display: block;
  position: absolute;
  background-color: black;
  margin-top: -20px;
  margin-left: 140px;
}
.mission {
  width: 70%;
  height: 40vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mission h1 {
  font-size: 3em;
  font-family: 'Inter';
}
.mission p {
  margin-top: 25px;
  line-height: 30px;
}
.taek {
  width: 70%;
  height: 45vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.taek h1 {
  font-size: 3em;
  font-family: 'Inter';
}
.taek p {
  margin-top: 25px;
  line-height: 30px;
  text-align: justify;
}

.commitee {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 4%;
}
.commitee .president {
  /* width: 90%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
}
.commitee .president img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.commitee .president h4 {
  background-color: black;
  color: white;
  width: 180px;
  padding: 5px;
  text-align: center;
}
.commitee .president h5 {
  text-align: center;
  font-size: 1.1em;
}

.chairman {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
}
.instructor {
  width: 90%;
  margin: auto;
  margin-top: 5%;
}
.instructor h1 {
  font-size: 4em;
  margin-bottom: 4%;
  text-align: center;
}
.instructor .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  /* flex-shrink: 100px; */
  justify-content: space-between;
}
.instructor .container .inst {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}
.instructor .container .inst img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.instructor .container .inst h4 {
  margin-top: 10px;
}
.instructor .container .inst h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.contact {
  position: relative;
  min-height: 75vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
}
.contact .content p {
  font-weight: 300;
  margin-top: 15px;
}
.containerc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.containerc .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.containerc .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.containerc .contactinfo .box .icon {
  min-width: 40px;
  height: 40px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.containerc .contactinfo .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
}
.containerc .contactinfo .box .text h3 {
  font-weight: 500;
}
.contactform {
  width: 40%;
  padding: 40px;
  /* background: rgb(114, 118, 121); */
}
.contactform h2 {
  font-size: 30px;
  font-weight: 500;
}
.contactform .input {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .input input,
.contactform .input textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}
.contactform .input span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactform .input input:focus ~ span {
  color: crimson;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .input input[type='submit'] {
  width: 100px;
  background: dodgerblue;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactinfo {
    margin-bottom: 40px;
  }
  .container .contactinfo {
    width: 100%;
  }
}
