/* Common Use 
(Used Across Different Page) */ 

/* CLASS Selector */
.circlePic{				/* Did Avatar Icon (TESTIMONIAL), Oval Pic (JOINUS) Round Pic (FAQ)*/
	border-radius: 50%;
	border: solid 4px black;
}
.texBelowH1{			/* text below Heading 1, used in (TESTIMONIAL) and (FAQ) */
	font-size: x-large;
	font-weight: normal;
	font-style: italic;
}
.table{					/* default table settings, used in (TESTIMONIAL), (FAQ), (JOINUS), and (ETIQUETTE) */
	width: 1200px;
	text-align: center;
	margin: auto;
	padding: 10px;
}

.blackSection{			/* Black Border with White Font, used in (TESTIMONIAL), (FAQ), (JOINUS), (ETIQUETTE) and (PICTURE) */
	border: solid 1px black;
	border-radius: 40px;
	margin: auto;
	color: white;
	background-color: black;
	padding: 10px;
	font-weight: bold;
}
.faqQuesAnsBlock{		/* Structure contents in the middle of page, used in (FAQ) and (ETIQUETTE) */
	margin: auto;
	padding-left: 50px;
}

/* Specific Pages */

/* TESTTMONIAL */
.pushLeftColIn{			/* Push Left Column Inwards to look like its within the Designed Corner Image */
	padding-left:100px;
}
.pushRightColIn{		/* Push Right Column Inwards to look like its within the Designed Corner Image */
	padding-right:100px;
}

/* JOINUS */
.frmButton{				/* Modify appearance of Button, appended with class, blackSection in JOINUS html */
	font-size:large;
	width: 150px;
	text-decoration: underline;
	cursor: pointer;
}

/* FAQ */
.faqQues{				/* Modify appearance of Questions */
	text-decoration: underline;
	font-size: x-large;
	font-weight: bold;
}
.faqAns{				/* Modify appearance of Answers and push Answers More Inwards for better appearance */
	padding-left: 25px;
	font-size: large;
	text-align:justify;
	width: 1100px;		/* to overrride Embedded (width), so that answer contained within block */
}

