/** @format */

.mission {
  width: 70%;
  height: 40vh;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mission h1 {
  font-size: 3em;
  font-family: "Inter";
}
.mission p {
  margin-top: 25px;
  line-height: 30px;
}
.taek {
  height: 45vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.taek h1 {
  font-size: 3em;
  font-family: "Inter";
}
.taek p {
  margin-top: 25px;
  line-height: 30px;
  text-align: justify;
}

.commitee {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 5%;
}
.commitee .president {
  /* width: 90%; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  margin-top: 2%;
}
.commitee .president:hover {
  transform: scale(1.3);
}
.commitee .president img {
  width: 180px;
  height: 180px;
  border-radius: 40%;
}
.commitee .president h4 {
  background-color: black;
  color: white;
  width: 180px;
  padding: 5px;
  text-align: center;
  margin-top: 2%;
}
.commitee .president h5 {
  text-align: center;
  font-size: 1.1em;
  color: white;
}

.chairman {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  margin-top: 2%;
}
.instructor {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  /* background-color: rgba(255, 255, 255, 0.7); */
  padding: 5%;
  /* border-radius: 30px; */
}
.instructor .ul,
.instructor .ur,
.instructor .bl,
.instructor .br {
  position: absolute;
  z-index: 1;
}
.instructor .ul {
  top: 10px;
}
.instructor .ur {
  top: 10px;
  right: 0;
}
.instructor .bl {
  bottom: -10px;
}
.instructor .br {
  bottom: 0;
  right: 0;
}
.instructor h2 {
  font-size: 2.6em;
  /* margin-bottom: 2%; */
  text-align: center;
}
.instructor .container {
  width: 90%;
  display: flex;
  flex-direction: row;
  /* flex-shrink: 100px; */
  margin: auto;
  justify-content: space-between;
  z-index: 99;
}
.instructor .container .inst {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 2%;
}
.instructor .container .inst img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.instructor .container .inst h4 {
  margin-top: 10px;
}
.instructor .container .inst h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.contact {
  position: relative;
  min-height: 75vh;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
}
.contact .content p {
  font-weight: 300;
  margin-top: 15px;
}
.containerc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.containerc .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.containerc .contactinfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.containerc .contactinfo .box .icon {
  min-width: 40px;
  height: 40px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.containerc .contactinfo .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 300;
}
.containerc .contactinfo .box .text h3 {
  font-weight: 500;
}
.contactform {
  width: 60%;
  padding: 40px;
  /* background: rgb(114, 118, 121); */
}
.contactform h2 {
  font-size: 30px;
  font-weight: 500;
}
.contactform .input {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactform .input input,
.contactform .input textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}
.contactform .input span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactform .input input:focus ~ span {
  color: crimson;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactform .input input[type="submit"] {
  width: 100px;
  background: dodgerblue;
}
@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactinfo {
    margin-bottom: 40px;
  }
  .container .contactinfo {
    width: 100%;
  }
}
