.calendar_bx {
  float: left;
  width: 100%;
  position: relative;
}
.calendar_bx .monthly {
  float: left;
  width: 100%;
  text-align: center;
  background-color: #19202a;
  border-top: solid 2px #f6ff00;
  height: 118px;
  font-size: 2.25em;
  color: #f6ff00;
  font-family: 'OpenSans600';
  padding-top: 28px;
  position: relative;
  border-bottom: solid 1px #333944;
}
.calendar_bx .year {
  font-size: 1em;
  color: #ffffff;
  position: absolute;
  top: -30px;
  left: 5px;
  font-family: 'OpenSans_i';
  color: #f6ff00;
}
.calendar_bx .monthly span {
  font-family: 'OpenSans';
  font-size: 0.4em;
  display: block;
  text-transform: uppercase;
  line-height: 2;
}
.calendar_bx .monthly .monthly_next a {
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url('assets/socialgathering/montly_next.png');
  background-repeat: no-repeat;
  background-position: 54% center;
  right: 34%;
  top: 32px;
}

.calendar_bx .monthly .monthly_past a {
  position: absolute;
  width: 52px;
  height: 52px;
  background-image: url('assets/socialgathering/montly_past.png');
  background-repeat: no-repeat;
  background-position: 45% center;
  left: 34%;
  top: 32px;
}
.calendar_bx .monthly a:hover {
  background-color: #f6ff00;
}
ul.date_day {
  float: left;
  width: 100%;
}
ul.date_day li {
  float: left;
  width: 20%;
  height: 33.33%;
  border-bottom: solid 1px #333944;
  border-right: solid 1px #333944;
  background-color: #232a36;
}
ul.date_day li:nth-child(5n + 5) {
  border-right: none;
}

ul.date_day li .day {
  text-align: center;
  width: 100%;
  display: block;
  font-size: 1.25em;
  font-family: 'OpenSans_i';
  color: #667ea1;
}
ul.date_day li .title {
  text-align: center;
  width: 100%;
  display: block;
  font-family: 'OpenSans_i';
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.95em;
  line-height: 1.3em;
}
ul.date_day li.point .day {
  color: #fff;
}
ul.date_day li.point .title {
  color: #f6ff00;
  font-family: 'OpenSans600i';
}
ul.date_day.main li a {
  display: block;
  width: 100%;
  height: 194px;
  padding: 28px 20px 10px 20px;
}
ul.date_day.sub li a {
  display: block;
  width: 100%;
  height: 244px;
  padding: 28px 20px 10px 20px;
}
